@model ArtX.Models.Bookmark

<h2>Edit bookmark</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Bookmarks"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.BookmarkId)
    <br />
    @Html.Label("Title", "Titlu Bookmark")
    <br />
    @Html.Editor("Title", new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Content", "Continut Bookmark")
    <br />
    @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Description", "Descriere Bookmark")
    <br />
    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
    <br />

    @Html.HiddenFor(m => m.Date)

    <label>Album</label>
    @Html.DropDownListFor(m => m.AlbumId,
        new SelectList(Model.Alb, "Value", "Text"),
        "Selectati albumul", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.AlbumId, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">Modifica bookmark</button>
}


@*<form method="post" action="/Bookmarks/Edit/@ViewBag.Bookmark.BookmarkId">
        @Html.HttpMethodOverride(HttpVerbs.Put)

        @Html.Label("Title", "Titlu bookmark")
        <br />
        @Html.TextBox("Title", null, new { @class = "form-control" })
        <br />

        @Html.Label("Description", "Descriere bookmark")
        <br />
        @Html.TextBox("Description", null, new { @class = "form-control" })

        @Html.Label("Content", "Continut bookmark")
        <br />
        @Html.TextArea("Content", null, new { @class = "form-control" })
        <br />
        <button class="btn btn-sm btn-success" type="submit">Modifica bookmark-ul</button>
    </form>*@
