@model ArtX.Models.Bookmark

@{
    ViewBag.Titlu = "Edit";
}

<h2>Edit Bookmark</h2>

<form method="post" action="/Bookmarks/Edit/@ViewBag.Bookmark.BookmarkId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Title", "Titlu bookmark")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    <br />

    @Html.Label("Description", "Descriere bookmark")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })

    @Html.Label("Content", "Continut bookmark")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Modifica bookmark-ul</button>
</form>
