@model ArtX.Models.Bookmark

@{
    ViewBag.Titlu = "New";
}

<h2>Adaugare bookmark</h2>

<form method="post" action="/Bookmarks/New">


    @Html.Label("Title", "Titlu bookmark")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control"})
    <br />

    @Html.Label("Content", "Continut bookmark")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    @*Pe asta nu am reusit s-o modifica inca (irelevant).*@

    @Html.Label("Description", "Descriere bookmark")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })
    <br />

    @Html.Label("Rating", "Rating bookmark")
    <br />
    @Html.Editor("Rating", null, new { @class = "form-control" })
    <br /><br />

    <label> Selectati albumul</label>
    @Html.DropDownListFor(m => m.AlbumId, new SelectList(Model.Alb, "Value", "Text"),
    "Selectati albumul", new { @class = "form-control" })

    <br />
    <button class="btn btn-sm btn-success" type="submit">Adauga bookmark</button>

</form>

<br />
<a href="/Bookmarks/Index">Inapoi la lista de bookmarks</a>

