@{
    ViewBag.Title = "Show Bookmark";
}

<br />
<a href="/Bookmarks/Index" class="btn btn-default glyphicon glyphicon-arrow-left"></a>
@*<br /><a href="/Albums/AlbumId?">Inapoi la album</a> sau o sa mai putem ajunge la un bookmark plecand dintr un singur album*@

    @Html.Partial("BookmarkInfo", (ArtX.Models.Bookmark) ViewBag.Bookmark, new ViewDataDictionary { { "1", ViewBag.userId }, { "2", ViewBag.b } })

<br />
@foreach (var comm in ViewBag.Bookmark.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="color:#e5e5e5">
                    <p>@comm.Content</p>
                    <small class="pull-right">@comm.Date</small>
                    <i class="glyphicon glyphicon-user"></i>
                    <strong style="color:#0ec7c7"> @comm.User.UserName </strong>
                </div>



                @if (ViewBag.userId == comm.UserId || ViewBag.userId == comm.User.UserName)//daca userul actual este cel care a creeat bookmarkul sau cel care a puss comm ul
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>
                }

                @if (ViewBag.userId == comm.UserId || ViewBag.userId == comm.User.UserName || ViewBag.b == "da")
                {
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="color:lightgrey; border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}

@if (ViewBag.userId != "-1") //daca este inregistrat poate sa adauge
{<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Comments/New">
                    <div class="panel-body">
                        <input type="hidden" name="BookmarkId" value="@ViewBag.Bookmark.BookmarkId" />
                        <label>Continut comentariu</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        <br />
                        <button class="btn btn-success " type="submit">Adauga comentariu</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
}
























@*<h2>Show</h2>

    <h1>@ViewBag.Bookmark.Title</h1>
    <p>@ViewBag.Bookmark.Description</p>
    <p>@ViewBag.Bookmark.Content</p>
    <br />

    <form method="post"
              action="/Bookmarks/Delete/@ViewBag.Bookmark.BookmarkId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit">Sterge bookmarkul</button>
    </form>

    <hr />

    <a href="/Bookmarks/Edit/@ViewBag.bookmark.BookmarkId">Editeaza bookmark</a>
    <br />
    <a href="/Bookmarks/Index">Inapoi la lista de bookmarks</a>*@
